<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Colorful.Console" version="1.2.9" targetFramework="net47" />
  <package id="OptimizedPriorityQueue" version="4.1.1" targetFramework="net47" />
  <package id="System.Runtime.Numerics" version="4.3.0" targetFramework="net47" />
</packages>